.button-container {
    display: block;
    width: auto;
    height: auto;
}

.primary-button, .secondary-button {
    padding: 3px;
    width: auto;
    height: auto;
    display: inline-block;
    border-radius: 19px;
    text-decoration: none;
    transition: 0.2s;
    font-family: 'Inter', sans-serif;
    white-space: nowrap;
}

.primary-button {
    background: linear-gradient(to bottom right, #034DB5 0%, #9C6BDB 100%);
}

.secondary-button {
    background: var(--primary-blue);
}

.primary-button div, .secondary-button div{
    padding: 10px 20px;
    border-radius: 16px;
    position: relative;
    width: auto;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: 0.2s;
    font-size: 14px;
}

.primary-button div {
    background: linear-gradient(to bottom right, #034DB5 0%, #9C6BDB 100%);
    color: white;
}

.secondary-button div {
    background: white;
    color: var(--primary-blue);
}

.primary-button svg, .secondary-button svg {
    margin-right: 10px;
    font-size: 16px;
}

/* .primary-button p {
    margin: 0;
} */

.primary-button:hover, .secondary-button:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.primary-button:hover div {
    background: white;
    color: #034DB5;
}

.primary-button:active, .secondary-button:active {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.primary-button:active div {
    background: var(--primary-purple-tint);
}

.secondary-button:active div {
    background: var(--primary-blue-tint);
}

