@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
#debug-menu {
    display: flex;
    margin: 0px 5px;
    padding: 0px;
}

#debug-menu::before {
    content: 'DEBUG MENU:';
}

#debug-menu li {
    display: block;
    margin: 0px 5px;
}